<%- include("partials/header") -%>

<div class="blogPosts">
	<br>
	<br>
	<br>
	<br>
	<h2>OOPS!!!</h2>
	<br>
	<p>You are not authorized to remove the blog because you are not a member of @Levi_Corporation .</p>
</div>

<%- include("partials/footer") -%>